
.contact-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
}

.info{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.425);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.425);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.425);
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 0px;
    padding: 8px;
    background-color: white;
}

.info-icon{
    width: 50px;
    height : auto;
    text-align: center;
    margin: auto 0px;
    
}



/* ----------------------------------- */


.getintouch{
    width: 80%;
    margin: 40px auto;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.425);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.425);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.425);
}

.contact-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.contact-inputs > input{
    width: 260px;
    padding: 5px;
    text-align: center;
    background: transparent;
    font-size: 17px;
    padding: 5px;
    font-weight: 500;
    color: #010829;;
    border: 3px solid #0d6efd;
    outline: none;
}

.contact-text {
    width: 80%;
    height: 200px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    color: #010829;;
    border: 3px solid #0d6efd;
    outline: none;
}

