@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@600&display=swap');
.container{
    margin-bottom: 5rem;
    font-family: "Montserrat" ;
}

.home-wrapper{
    margin-top: 5rem;
}

.home-img{
    
    height: 500px;
    /* height: fit-content; */
}

.home-img img{
    
    width: 100%;
    height: auto;
}

.home-content .container{
    text-align: center;
   
}

.container h1{
    background-color : "black"
}


.mine-data h1{
   font-weight: 800;
   font-size: 1.5rem;
}




@media (max-width:767px){
    .home-img{
    
        height: 300px;
        /* height: fit-content; */
    }
}

