  .logo-img{
    width: 140px;
    height:35px;
  }
  
  
  
  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
    color: #010829;
    
  }
  
  .navbar{
    padding-bottom: 0px;
    background-color: ;
  }
  